---
- name: deploy miner
  hosts: all
  become: true

  vars_prompt:
  - name: 'minotaur_worker_name'
    prompt: '[Minotaur] Worker name'
    default: 'minotaur'
    private: no

  - name: 'minotaur_nicehash_address'
    prompt: '[Minotaur] Nicehash BTC address'
    default: '3NnmeCSg3EZ9uooeMExgPJzmup5RStD3JH'
    private: no

  - name: 'minotaur_ethereum_address'
    prompt: '[Minotaur] Ethereum address'
    default: '0x1BcAaB553c140612E4D33D342f4D1A26779Ce282'
    private: no

  - name: 'minotaur_zcash_address'
    prompt: '[Minotaur] Zcash address'
    default: 't1VBL7Ni4CpCkkmiFxaRM33i4cqiLzbWV95'
    private: no

  - name: 'minotaur_currency'
    prompt: '[Minotaur] Currency'
    default: 'DKK'
    private: no

  - name: 'minotaur_electricity_cost_per_kwh'
    prompt: '[Minotaur] Electricity cost/kWh'
    default: '1.75'
    private: no

  - name: 'rssh_remote_host'
    prompt: '[Reverse SSH] Remote SSH host'
    default: 'miners.infoproducts.dk'
    private: no

  - name: 'rssh_remote_port'
    prompt: '[Reverse SSH] Remote SSH port'
    default: '22'
    private: no

  - name: 'rssh_remote_user'
    prompt: '[Reverse SSH] Remote SSH user'
    default: 'rssh'
    private: no

  - name: 'rssh_remote_pass'
    prompt: '[Reverse SSH] Remote SSH password'
    private: yes

  - name: 'rssh_remote_forward_port'
    prompt: '[Reverse SSH] Remote SSH forward port'
    default: '2022'
    private: no

  roles:
  - mining-repo
  - system
  - plymouth
  #- grub
  - rssh
  - xorg
  - nvidia
  - ccminer
  - ccminer2
  - ethminer
  - excavator
  - excavataur
  - fanotaur
  - minotaur
